
.nav-link:not(.buttoneier):hover,
.nav-link:not(.buttoneier):focus,
.nav-link:not(.buttoneier).active {
    background-color: rgb(73, 72, 72);
    text-decoration: none;
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    border-radius: 20px;
    width: 100px;
}